In [1]:
import pandas as pd
import unicodedata
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [2]:
dataset_dir = 'Casos_Covid/Casos_positivos_de_COVID-19_en_Colombia.csv' #Se carga el dataset
df_cas = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_cas.isnull().sum() #Se imprime el dataset

C:\Users\sebas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

fecha reporte web                     0
ID de caso                            0
Fecha de notificación                 0
Código DIVIPOLA departamento          0
Nombre departamento                   0
Código DIVIPOLA municipio             0
Nombre municipio                      0
Edad                                  0
Unidad de medida de edad              0
Sexo                                  0
Tipo de contagio                      0
Ubicación del caso                34405
Estado                            34405
Código ISO del país             6311064
Nombre del país                 6311056
Recuperado                        29707
Fecha de inicio de síntomas      489332
Fecha de muerte                 6138469
Fecha de diagnóstico               2755
Fecha de recuperación            173861
Tipo de recuperación             173935
Pertenencia étnica                 2112
Nombre del grupo étnico         6231638
dtype: int64

In [3]:
df_cas

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2021-03-04 00:00:00,2265685,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,M,...,NaN,NaN,Recuperado,2021-02-25 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
1,2021-03-04 00:00:00,2265686,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,49,1,M,...,NaN,NaN,Recuperado,2021-02-23 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
2,2021-03-04 00:00:00,2265687,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,F,...,NaN,NaN,Recuperado,2021-02-24 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
3,2021-03-04 00:00:00,2265688,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,F,...,NaN,NaN,Recuperado,2021-02-27 00:00:00,NaN,2021-03-03 00:00:00,2021-03-13 00:00:00,Tiempo,6.0,NaN
4,2021-03-04 00:00:00,2265689,2021-03-02 00:00:00,11,BOGOTA,11001,BOGOTA,51,1,F,...,NaN,NaN,Recuperado,2021-03-01 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6314764,2022-02-05 00:00:00,5956386,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,47,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6314765,2022-02-05 00:00:00,5956387,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,39,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6314766,2022-02-05 00:00:00,5956388,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,35,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6314767,2022-02-05 00:00:00,5956389,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,11,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6314768,2022-02-05 00:00:00,5956390,2022-01-19 00:00:00,50,META,50001,VILLAVICENCIO,34,1,F,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN

In [4]:
df_cas_d = df_cas.drop(['fecha reporte web','Edad','Unidad de medida de edad',
           'Nombre del grupo étnico','Pertenencia étnica','Tipo de recuperación',
          'Fecha de recuperación','Ubicación del caso','Código ISO del país',
             'Tipo de contagio','Recuperado','Fecha de inicio de síntomas'
            ,'Estado','Sexo','Fecha de muerte','Nombre del país','Fecha de notificación',
            'ID de caso'], axis=1)
df_cas_d

,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Fecha de diagnóstico
0,11,BOGOTA,11001,BOGOTA,2021-03-03 00:00:00
1,11,BOGOTA,11001,BOGOTA,2021-03-03 00:00:00
2,11,BOGOTA,11001,BOGOTA,2021-03-03 00:00:00
3,11,BOGOTA,11001,BOGOTA,2021-03-03 00:00:00
4,11,BOGOTA,11001,BOGOTA,2021-03-03 00:00:00
...,...,...,...,...,...
6314764,50,META,50001,VILLAVICENCIO,2022-01-30 00:00:00
6314765,50,META,50001,VILLAVICENCIO,2022-01-30 00:00:00
6314766,50,META,50001,VILLAVICENCIO,2022-01-30 00:00:00
6314767,50,META,50001,VILLAVICENCIO,2022-01-30 00:00:00
6314768,50,META,50001,VILLAVICENCIO,2022-01-30 00:00:00

In [5]:
date = df_cas_d["Fecha de diagnóstico"].str.split('-', expand=True)
date.columns = ['Ano','Mes','Dia']
df_cas_n = pd.concat([df_cas_d, date], axis=1)
df_cas_n = df_cas_n.drop(['Fecha de diagnóstico','Dia'], axis=1)
df_cas_n

,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Ano,Mes
0,11,BOGOTA,11001,BOGOTA,2021,03
1,11,BOGOTA,11001,BOGOTA,2021,03
2,11,BOGOTA,11001,BOGOTA,2021,03
3,11,BOGOTA,11001,BOGOTA,2021,03
4,11,BOGOTA,11001,BOGOTA,2021,03
...,...,...,...,...,...,...
6314764,50,META,50001,VILLAVICENCIO,2022,01
6314765,50,META,50001,VILLAVICENCIO,2022,01
6314766,50,META,50001,VILLAVICENCIO,2022,01
6314767,50,META,50001,VILLAVICENCIO,2022,01
6314768,50,META,50001,VILLAVICENCIO,2022,01

In [6]:
df_cas_n = df_cas_n.drop(df_cas_n[df_cas_n['Ano'] == ('2022' or '2019')].index)
df_cas_n.reset_index(drop=True, inplace=True)

In [7]:
df_cas_n['Código DIVIPOLA departamento'].unique().tolist()

[11,
 52,
 68,
 66,
 15,
 54,
 5,
 18,
 50,
 76,
 20,
 8001,
 41,
 99,
 86,
 19,
 47,
 23,
 8,
 25,
 17,
 70,
 47001,
 73,
 13001,
 63,
 44,
 13,
 91,
 85,
 81,
 27,
 95,
 88,
 97,
 94]

In [8]:
df_cas_t = df_cas_n[df_cas_n["Nombre municipio"] == "VILLAVICENCIO"]
df_cas_t

,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Ano,Mes
49,50,META,50001,VILLAVICENCIO,2020,09
83,50,META,50001,VILLAVICENCIO,2020,09
132,50,META,50001,VILLAVICENCIO,2021,03
136,50,META,50001,VILLAVICENCIO,2021,03
140,50,META,50001,VILLAVICENCIO,2021,03
...,...,...,...,...,...,...
5194465,50,META,50001,VILLAVICENCIO,2021,12
5194471,50,META,50001,VILLAVICENCIO,2021,12
5194479,50,META,50001,VILLAVICENCIO,2021,12
5195903,50,META,50001,VILLAVICENCIO,2021,09
5196173,50,META,50001,VILLAVICENCIO,2021,11

In [9]:
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "ARMENIA"] = "Armenia" 
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "BARRANQUILLA"] = "Barranquilla" 
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "BOGOTA"] = "Bogota" 
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "BUCARAMANGA"] = "Bucaramanga"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "CALI"] = "Cali"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "CARTAGENA"] = "Cartagena"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "CUCUTA"] = "Cucuta"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "FLORENCIA"] = "Florencia"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "IBAGUE"] = "Ibague"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "MANIZALES"] = "Manizales"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "MEDELLIN"] = "Medellin"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "MONTERIA"] = "Monteria"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "NEIVA"] = "Neiva"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "PASTO"] = "Pasto"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "PEREIRA"] = "Pereira"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "POPAYAN"] = "Popayan"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "QUIBDO"] = "Quibdo"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "RIOHACHA"] = "Riohacha"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "SAN ANDRES"] = "Sanandres"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "SANTA MARTA"] = "Santamarta"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "SINCELEJO"] = "Sincelejo"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "TUNJA"] = "Tunja"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "VALLEDUPAR"] = "Valledupar"
df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "VILLAVICENCIO"] = "Villavicencio"

<ipython-input-9-881410962c84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "ARMENIA"] = "Armenia"
<ipython-input-9-881410962c84>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "BARRANQUILLA"] = "Barranquilla"
<ipython-input-9-881410962c84>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "BOGOTA"] = "Bogota"
<ipython-input-9-881410962c84>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "BUCARAMANGA"] = "Bucaramanga"
<ipython-input-9-881410962c84>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "CALI"] = "Cali"
<ipython-input-9-881410962c84>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "CARTAGENA"] = "Cartagena"
<ipython-input-9-881410962c84>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "CUCUTA"] = "Cucuta"
<ipython-input-9-881410962c84>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "FLORENCIA"] = "Florencia"
<ipython-input-9-881410962c84>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "IBAGUE"] = "Ibague"
<ipython-input-9-881410962c84>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "MANIZALES"] = "Manizales"
<ipython-input-9-881410962c84>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "MEDELLIN"] = "Medellin"
<ipython-input-9-881410962c84>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "MONTERIA"] = "Monteria"
<ipython-input-9-881410962c84>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "NEIVA"] = "Neiva"
<ipython-input-9-881410962c84>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "PASTO"] = "Pasto"
<ipython-input-9-881410962c84>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "PEREIRA"] = "Pereira"
<ipython-input-9-881410962c84>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "POPAYAN"] = "Popayan"
<ipython-input-9-881410962c84>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "QUIBDO"] = "Quibdo"
<ipython-input-9-881410962c84>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "RIOHACHA"] = "Riohacha"
<ipython-input-9-881410962c84>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "SAN ANDRES"] = "Sanandres"
<ipython-input-9-881410962c84>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "SANTA MARTA"] = "Santamarta"
<ipython-input-9-881410962c84>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "SINCELEJO"] = "Sincelejo"
<ipython-input-9-881410962c84>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "TUNJA"] = "Tunja"
<ipython-input-9-881410962c84>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "VALLEDUPAR"] = "Valledupar"
<ipython-input-9-881410962c84>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Nombre municipio"][df_cas_n["Nombre municipio"] == "VILLAVICENCIO"] = "Villavicencio"

In [10]:
df_cas_n["Código DIVIPOLA departamento"][df_cas_n["Código DIVIPOLA departamento"] == 8001] = 8
df_cas_n["Código DIVIPOLA departamento"][df_cas_n["Código DIVIPOLA departamento"] == 47001] = 47
df_cas_n["Código DIVIPOLA departamento"][df_cas_n["Código DIVIPOLA departamento"] == 13001] = 13
df_cas_n['Código DIVIPOLA departamento'].unique().tolist()

<ipython-input-10-704576267f68>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Código DIVIPOLA departamento"][df_cas_n["Código DIVIPOLA departamento"] == 8001] = 8
<ipython-input-10-704576267f68>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Código DIVIPOLA departamento"][df_cas_n["Código DIVIPOLA departamento"] == 47001] = 47
<ipython-input-10-704576267f68>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cas_n["Código DIVIPOLA departamento"][df_cas_n["Código DIVIPOLA departamento"] == 13001] = 13

[11,
 52,
 68,
 66,
 15,
 54,
 5,
 18,
 50,
 76,
 20,
 8,
 41,
 99,
 86,
 19,
 47,
 23,
 25,
 17,
 70,
 73,
 13,
 63,
 44,
 91,
 85,
 81,
 27,
 95,
 88,
 97,
 94]

In [239]:
ciudad = ['Armenia','Barranquilla','Bogota','Bucaramanga',
       'Cali','Cartagena','Cucuta','Florencia','Ibague',
       'Manizales','Medellin','Monteria','Neiva','Pasto',
       'Pereira','Popayan','Quibdo','Riohacha','Sanandres',
       'Santamarta','Sincelejo','Tunja','Valledupar',
          'Villavicencio']
cod = [63,8,11,68,
      76,13,54,18,73,
      17,5,23,41,52,
      66,19,27,44,88,
       47,70,15,20,50]
ci = 23

In [240]:
df_casos = df_cas_n[df_cas_n['Nombre municipio'] == ciudad[ci]].fillna(0)
df_casos = df_casos[df_casos['Código DIVIPOLA departamento'] == cod[ci]]
df_casos = df_casos.sort_values(['Ano','Mes'])
#df_arm.isnull().sum() #Se imprime el dataset
#df_arm = df_arm.drop(df_temp[df_temp['LST_Day_1km']==0].index)
df_casos['Código DIVIPOLA departamento'].unique().tolist()

[50]

In [241]:
df_casos['Ano'].unique().tolist()
df_casos_ss = df_casos[df_casos['Ano'] == 0]
df_casos_ss

,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Ano,Mes
87353,50,META,50001,Villavicencio,0,0
91470,50,META,50001,Villavicencio,0,0
148656,50,META,50001,Villavicencio,0,0
148657,50,META,50001,Villavicencio,0,0
2871699,50,META,50001,Villavicencio,0,0
2962061,50,META,50001,Villavicencio,0,0
2971651,50,META,50001,Villavicencio,0,0
3283812,50,META,50001,Villavicencio,0,0

In [242]:
mes = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]
ano = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,
      2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021]
dataset_v = pd.DataFrame()
dataset_v['Mes'] = mes
dataset_v['Ano'] = ano
dataset_v['Ciudad'] = ciudad[ci]


dataset_v

    Mes   Ano         Ciudad
0     1  2020  Villavicencio
1     2  2020  Villavicencio
2     3  2020  Villavicencio
3     4  2020  Villavicencio
4     5  2020  Villavicencio
5     6  2020  Villavicencio
6     7  2020  Villavicencio
7     8  2020  Villavicencio
8     9  2020  Villavicencio
9    10  2020  Villavicencio
10   11  2020  Villavicencio
11   12  2020  Villavicencio
12    1  2021  Villavicencio
13    2  2021  Villavicencio
14    3  2021  Villavicencio
15    4  2021  Villavicencio
16    5  2021  Villavicencio
17    6  2021  Villavicencio
18    7  2021  Villavicencio
19    8  2021  Villavicencio
20    9  2021  Villavicencio
21   10  2021  Villavicencio
22   11  2021  Villavicencio
23   12  2021  Villavicencio

In [243]:
df_casos.info()
df_casos['Mes'] = df_casos['Mes'].astype('int64')
df_casos['Ano'] = df_casos['Ano'].astype('int64')
df_casos

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63795 entries, 87353 to 5194479
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Código DIVIPOLA departamento  63795 non-null  int64
 1   Nombre departamento           63795 non-null  object
 2   Código DIVIPOLA municipio     63795 non-null  int64
 3   Nombre municipio              63795 non-null  object
 4   Ano                           63795 non-null  object
 5   Mes                           63795 non-null  object
dtypes: int64(2), object(4)
memory usage: 3.4+ MB

,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Ano,Mes
87353,50,META,50001,Villavicencio,0,0
91470,50,META,50001,Villavicencio,0,0
148656,50,META,50001,Villavicencio,0,0
148657,50,META,50001,Villavicencio,0,0
2871699,50,META,50001,Villavicencio,0,0
...,...,...,...,...,...,...
5194460,50,META,50001,Villavicencio,2021,12
5194461,50,META,50001,Villavicencio,2021,12
5194465,50,META,50001,Villavicencio,2021,12
5194471,50,META,50001,Villavicencio,2021,12
5194479,50,META,50001,Villavicencio,2021,12

In [244]:
val_mes = dataset_v['Mes'] #Se guardan los valores de la columna 
val_ano = dataset_v['Ano'] #Se guardan los valores de la columna 

vect_a = [] #Se crea un vector vacío

for n_Mes,n_Ano in zip(val_mes,val_ano):
    vect_a.append(df_casos.apply(lambda x: ((x['Ano'] == n_Ano) and (x['Mes'] == n_Mes )), axis=1).sum())
print(vect_a)
dataset_v['Casos Covid'] = vect_a
dataset_v

[0, 0, 11, 360, 576, 213, 1487, 5329, 5097, 4490, 3996, 4667, 4595, 1210, 1212, 2464, 4644, 14361, 6635, 823, 259, 169, 338, 851]

    Mes   Ano         Ciudad  Casos Covid
0     1  2020  Villavicencio            0
1     2  2020  Villavicencio            0
2     3  2020  Villavicencio           11
3     4  2020  Villavicencio          360
4     5  2020  Villavicencio          576
5     6  2020  Villavicencio          213
6     7  2020  Villavicencio         1487
7     8  2020  Villavicencio         5329
8     9  2020  Villavicencio         5097
9    10  2020  Villavicencio         4490
10   11  2020  Villavicencio         3996
11   12  2020  Villavicencio         4667
12    1  2021  Villavicencio         4595
13    2  2021  Villavicencio         1210
14    3  2021  Villavicencio         1212
15    4  2021  Villavicencio         2464
16    5  2021  Villavicencio         4644
17    6  2021  Villavicencio        14361
18    7  2021  Villavicencio         6635
19    8  2021  Villavicencio          823
20    9  2021  Villavicencio          259
21   10  2021  Villavicencio          169
22   11  2021  Villavicencio          338
23   12  2021  Villavicencio          851

In [245]:
vect_tri_a = []

df_agr = pd.DataFrame()
df_agr['Casos Covid'] = None

c = [0,3,6,9,12,15,18,21,24,27,30,33,36,39]
i = 0
for n in dataset_v['Mes'].index:
    #print(c[i],n)
    vect_tri_a.append(dataset_v.loc[(dataset_v['Mes'].index >= c[i]) & (dataset_v['Mes'].index < c[i+1]),'Casos Covid'].sum())
    
    if n == c[i]:
        i = 1+i
df_agr['Casos Covid'] = vect_tri_a

df_agr

    Casos Covid
0            11
1          1149
2          1149
3          1149
4         11913
5         11913
6         11913
7         13153
8         13153
9         13153
10         7017
11         7017
12         7017
13        21469
14        21469
15        21469
16         7717
17         7717
18         7717
19         1358
20         1358
21         1358
22            0
23            0

In [246]:
trimestre = [1,2,3,4,1,2,3,4,1,2,3,4]
ano = [2019,2019,2019,2019,2020,2020,2020,2020,2021,2021,2021,2021]
casos_covid = [0,0,0,0,vect_tri_a[0],vect_tri_a[1],vect_tri_a[4],vect_tri_a[7],
                 vect_tri_a[10],vect_tri_a[13],vect_tri_a[16],vect_tri_a[19]]

df_casos_covid = pd.DataFrame()
df_casos_covid['Trimestre'] = trimestre
df_casos_covid['Ano'] = ano
df_casos_covid['Ciudad'] = ciudad[ci]
df_casos_covid['Casos Covid'] = casos_covid

df_casos_covid

    Trimestre   Ano         Ciudad  Casos Covid
0           1  2019  Villavicencio            0
1           2  2019  Villavicencio            0
2           3  2019  Villavicencio            0
3           4  2019  Villavicencio            0
4           1  2020  Villavicencio           11
5           2  2020  Villavicencio         1149
6           3  2020  Villavicencio        11913
7           4  2020  Villavicencio        13153
8           1  2021  Villavicencio         7017
9           2  2021  Villavicencio        21469
10          3  2021  Villavicencio         7717
11          4  2021  Villavicencio         1358

In [247]:
export_dir = 'Casos_Covid/C_'+ ciudad[ci] +'_Pre.csv'
df_casos_covid.to_csv(export_dir, index=False, header=True)