In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [3]:
dataset_dir = 'Casos_Covid/Casos_Ciudades.csv' #Se carga el dataset
df_casos = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_casos #Se imprime el dataset

     Trimestre   Ano         Ciudad  Casos Covid
0            1  2019        Armenia            0
1            2  2019        Armenia            0
2            3  2019        Armenia            0
3            4  2019        Armenia            0
4            1  2020        Armenia           13
..         ...   ...            ...          ...
283          4  2020  Villavicencio        13153
284          1  2021  Villavicencio         7017
285          2  2021  Villavicencio        21469
286          3  2021  Villavicencio         7717
287          4  2021  Villavicencio         1358

[288 rows x 4 columns]

In [4]:
dataset_dir = 'Casos_Covid/Poblacion/Estimacion_pre.csv' #Se carga el dataset
df_pob = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_pob #Se imprime el dataset

    CodCiudad Departamento  CodDepMun         Ciudad   Ano   Area    Total
0          63      Quindio      63001        Armenia  2019  Total   300194
1          63      Quindio      63001        Armenia  2020  Total   304764
2          63      Quindio      63001        Armenia  2021  Total   308463
3           8    Atlántico       8001   Barranquilla  2019  Total  1243056
4           8    Atlántico       8001   Barranquilla  2020  Total  1274250
..        ...          ...        ...            ...   ...    ...      ...
67         20        Cesar      20001     Valledupar  2020  Total   532956
68         20        Cesar      20001     Valledupar  2021  Total   544134
69         50         Meta      50001  Villavicencio  2019  Total   538824
70         50         Meta      50001  Villavicencio  2020  Total   545302
71         50         Meta      50001  Villavicencio  2021  Total   549922

[72 rows x 7 columns]

In [5]:
df = df_casos.merge(df_pob, on=["Ano","Ciudad"], how = "outer")
df

,Trimestre,Ano,Ciudad,Casos Covid,CodCiudad,Departamento,CodDepMun,Area,Total
0,1,2019,Armenia,0,63,Quindio,63001,Total,300194
1,2,2019,Armenia,0,63,Quindio,63001,Total,300194
2,3,2019,Armenia,0,63,Quindio,63001,Total,300194
3,4,2019,Armenia,0,63,Quindio,63001,Total,300194
4,1,2020,Armenia,13,63,Quindio,63001,Total,304764
...,...,...,...,...,...,...,...,...,...
283,4,2020,Villavicencio,13153,50,Meta,50001,Total,545302
284,1,2021,Villavicencio,7017,50,Meta,50001,Total,549922
285,2,2021,Villavicencio,21469,50,Meta,50001,Total,549922
286,3,2021,Villavicencio,7717,50,Meta,50001,Total,549922
287,4,2021,Villavicencio,1358,50,Meta,50001,Total,549922

In [8]:
df['Incidencia'] = df['Casos Covid']/df['Total']
df

,Trimestre,Ano,Ciudad,Casos Covid,CodCiudad,Departamento,CodDepMun,Area,Total,Incidencia
0,1,2019,Armenia,0,63,Quindio,63001,Total,300194,0.000000
1,2,2019,Armenia,0,63,Quindio,63001,Total,300194,0.000000
2,3,2019,Armenia,0,63,Quindio,63001,Total,300194,0.000000
3,4,2019,Armenia,0,63,Quindio,63001,Total,300194,0.000000
4,1,2020,Armenia,13,63,Quindio,63001,Total,304764,0.000043
...,...,...,...,...,...,...,...,...,...,...
283,4,2020,Villavicencio,13153,50,Meta,50001,Total,545302,0.024121
284,1,2021,Villavicencio,7017,50,Meta,50001,Total,549922,0.012760
285,2,2021,Villavicencio,21469,50,Meta,50001,Total,549922,0.039040
286,3,2021,Villavicencio,7717,50,Meta,50001,Total,549922,0.014033
287,4,2021,Villavicencio,1358,50,Meta,50001,Total,549922,0.002469

In [12]:
columnas = ['Trimestre','Ano','Ciudad','Incidencia']
df_n = df[columnas]
df_n

     Trimestre   Ano         Ciudad  Incidencia
0            1  2019        Armenia    0.000000
1            2  2019        Armenia    0.000000
2            3  2019        Armenia    0.000000
3            4  2019        Armenia    0.000000
4            1  2020        Armenia    0.000043
..         ...   ...            ...         ...
283          4  2020  Villavicencio    0.024121
284          1  2021  Villavicencio    0.012760
285          2  2021  Villavicencio    0.039040
286          3  2021  Villavicencio    0.014033
287          4  2021  Villavicencio    0.002469

[288 rows x 4 columns]

In [13]:
export_dir = 'Incidencia/Incidencia.csv'
df_n.to_csv(export_dir, index=False, header=True)