## Personas

In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

In [3]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_per.CSV' #Se carga el dataset
df_dataset_T = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas
df_dataset_T.isnull().sum() #Se imprime el dataset

U_DPTO                     0
U_MPIO                     0
P_SEXO                     0
P_EDADR                    0
PA1_GRP_ETNIC              0
PA_HABLA_LENG       42253080
PB_OTRAS_LENG       42253080
PB1_QOTRAS_LENG     43973903
PA1_CALIDAD_SERV    40872069
P_ALFABETA           3037781
P_NIVEL_ANOSR        3037781
P_TRABAJO            6682277
dtype: int64

In [4]:
df_dataset_T

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO
0,91,1,2,2,6,NaN,NaN,NaN,NaN,1.0,1.0,NaN
1,91,1,1,9,1,2.0,2.0,NaN,NaN,1.0,3.0,2.0
2,91,1,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,9.0
3,91,1,2,8,1,2.0,2.0,NaN,NaN,1.0,4.0,1.0
4,91,1,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,2,4,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN
44164413,99,773,2,8,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN
44164414,99,773,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
44164415,99,773,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
44164416,99,773,1,9,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN

In [5]:
df_dataset = df_dataset_T.iloc[40000000:,:] 
df_dataset

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO
40000000,73,449,2,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
40000001,73,449,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0
40000002,73,449,2,10,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0
40000003,73,449,1,10,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0
40000004,73,449,1,5,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,2,4,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN
44164413,99,773,2,8,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN
44164414,99,773,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
44164415,99,773,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN
44164416,99,773,1,9,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN

In [6]:
df_dataset.loc[df_dataset["U_DPTO"] == 91, "Nom_DPTO"] = "Amazonas"
df_dataset.loc[df_dataset["U_DPTO"] == 5, "Nom_DPTO"] = "Antioquia"
df_dataset.loc[df_dataset["U_DPTO"] == 81, "Nom_DPTO"] = "Arauca"
df_dataset.loc[df_dataset["U_DPTO"] == 8, "Nom_DPTO"] = "Atlantico"
df_dataset.loc[df_dataset["U_DPTO"] == 11, "Nom_DPTO"] = "Bogota D.C"
df_dataset.loc[df_dataset["U_DPTO"] == 13, "Nom_DPTO"] = "Bolivar"
df_dataset.loc[df_dataset["U_DPTO"] == 15, "Nom_DPTO"] = "Boyaca"
df_dataset.loc[df_dataset["U_DPTO"] == 17, "Nom_DPTO"] = "Caldas"
df_dataset.loc[df_dataset["U_DPTO"] == 18, "Nom_DPTO"] = "Caqueta"
df_dataset.loc[df_dataset["U_DPTO"] == 85, "Nom_DPTO"] = "Casanare"
df_dataset.loc[df_dataset["U_DPTO"] == 19, "Nom_DPTO"] = "Cauca"
df_dataset.loc[df_dataset["U_DPTO"] == 20, "Nom_DPTO"] = "Cesar"
df_dataset.loc[df_dataset["U_DPTO"] == 27, "Nom_DPTO"] = "Choco"
df_dataset.loc[df_dataset["U_DPTO"] == 23, "Nom_DPTO"] = "Cordoba"
df_dataset.loc[df_dataset["U_DPTO"] == 25, "Nom_DPTO"] = "Cundinamarca"
df_dataset.loc[df_dataset["U_DPTO"] == 94, "Nom_DPTO"] = "Guainia"
df_dataset.loc[df_dataset["U_DPTO"] == 95, "Nom_DPTO"] = "Guaviare"
df_dataset.loc[df_dataset["U_DPTO"] == 41, "Nom_DPTO"] = "Huila"
df_dataset.loc[df_dataset["U_DPTO"] == 44, "Nom_DPTO"] = "La Guajira"
df_dataset.loc[df_dataset["U_DPTO"] == 47, "Nom_DPTO"] = "Magdalena"
df_dataset.loc[df_dataset["U_DPTO"] == 50, "Nom_DPTO"] = "Meta"
df_dataset.loc[df_dataset["U_DPTO"] == 52, "Nom_DPTO"] = "Narino"
df_dataset.loc[df_dataset["U_DPTO"] == 54, "Nom_DPTO"] = "Norte de Santander"
df_dataset.loc[df_dataset["U_DPTO"] == 86, "Nom_DPTO"] = "Putumayo"
df_dataset.loc[df_dataset["U_DPTO"] == 63, "Nom_DPTO"] = "Quindio"
df_dataset.loc[df_dataset["U_DPTO"] == 66, "Nom_DPTO"] = "Risaralda"
df_dataset.loc[df_dataset["U_DPTO"] == 88, "Nom_DPTO"] = "SAPC"
df_dataset.loc[df_dataset["U_DPTO"] == 68, "Nom_DPTO"] = "Santander"
df_dataset.loc[df_dataset["U_DPTO"] == 70, "Nom_DPTO"] = "Sucre"
df_dataset.loc[df_dataset["U_DPTO"] == 73, "Nom_DPTO"] = "Tolima"
df_dataset.loc[df_dataset["U_DPTO"] == 76, "Nom_DPTO"] = "Valle del Cauca"
df_dataset.loc[df_dataset["U_DPTO"] == 97, "Nom_DPTO"] = "Vaupes"
df_dataset.loc[df_dataset["U_DPTO"] == 99, "Nom_DPTO"] = "Vichada"
df_dataset

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO
40000000,73,449,2,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Tolima
40000001,73,449,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,Tolima
40000002,73,449,2,10,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,Tolima
40000003,73,449,1,10,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,Tolima
40000004,73,449,1,5,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Tolima
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,2,4,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Vichada
44164413,99,773,2,8,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,Vichada
44164414,99,773,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada
44164415,99,773,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada
44164416,99,773,1,9,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,Vichada

## Se inicia con el pre-procesamiento de la columna P_SEXO

In [7]:
df_dataset = df_dataset.sort_values('P_SEXO') #Organiza la lista en orden ascendente
P_Sex = df_dataset['P_SEXO'].unique()
print(P_Sex)
for p_sex in P_Sex:
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[p_sex] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.P_SEXO == p_sex).astype(int)
    df_dataset[p_sex][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[1 2]

<ipython-input-7-a9cf6ffda894>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_sex][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-7-a9cf6ffda894>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_sex][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,1,2
40000000,73,449,2,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,0,1
40000001,73,449,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,0,1
40000002,73,449,2,10,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,0,1
40000003,73,449,1,10,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,1,0
40000004,73,449,1,5,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,2,4,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,0,1
44164413,99,773,2,8,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,0,1
44164414,99,773,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,0,1
44164415,99,773,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,1,0
44164416,99,773,1,9,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,1,0

In [8]:
df_dataset.rename(columns = {1:'Hombre', 2:'Mujer'}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_SEXO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer
40000000,73,449,2,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,0,1
40000001,73,449,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,0,1
40000002,73,449,2,10,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,0,1
40000003,73,449,1,10,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,1,0
40000004,73,449,1,5,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,2,4,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,0,1
44164413,99,773,2,8,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,0,1
44164414,99,773,2,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,0,1
44164415,99,773,1,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,1,0
44164416,99,773,1,9,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,1,0

In [9]:
df_dataset.drop(['P_SEXO'],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer
40000000,73,449,2,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,0,1
40000001,73,449,3,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,0,1
40000002,73,449,10,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,0,1
40000003,73,449,10,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,1,0
40000004,73,449,5,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,4,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,0,1
44164413,99,773,8,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,0,1
44164414,99,773,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,0,1
44164415,99,773,3,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,1,0
44164416,99,773,9,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,1,0

## Se inicia con el pre-procesamiento de la columna P_EDADR

In [10]:
df_dataset = df_dataset.sort_values('P_EDADR') #Organiza la lista en orden ascendente
Edad_P = df_dataset['P_EDADR'].unique()
print(Edad_P)
for edad_p in Edad_P:
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[edad_p] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.P_EDADR == edad_p).astype(int)
    df_dataset[edad_p][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values

C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-31d05f5b77cd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[edad_p][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,...,12,13,14,15,16,17,18,19,20,21
40000000,73,449,2,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
40000001,73,449,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
40000002,73,449,10,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
40000003,73,449,10,6,NaN,NaN,NaN,NaN,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
40000004,73,449,5,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,4,6,NaN,NaN,NaN,NaN,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
44164413,99,773,8,6,NaN,NaN,NaN,NaN,1.0,8.0,...,0,0,0,0,0,0,0,0,0,0
44164414,99,773,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
44164415,99,773,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
44164416,99,773,9,6,NaN,NaN,NaN,NaN,1.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_dataset.rename(columns = {1:'0 a 4', 2:'5 a 9', 3:'10 a 14', 4:'15 a 19',
                            5:'20 a 24', 6:'25 a 29', 7:'30 a 34', 8:'35 a 39',
                            9:'40 a 44', 10:'45 a 49',11:'50 a 54',
                            12:'55 a 59',13:'Mas de 60'}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_EDADR,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,...,55 a 59,Mas de 60,14,15,16,17,18,19,20,21
40000000,73,449,2,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
40000001,73,449,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
40000002,73,449,10,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
40000003,73,449,10,6,NaN,NaN,NaN,NaN,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
40000004,73,449,5,6,NaN,NaN,NaN,NaN,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,4,6,NaN,NaN,NaN,NaN,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
44164413,99,773,8,6,NaN,NaN,NaN,NaN,1.0,8.0,...,0,0,0,0,0,0,0,0,0,0
44164414,99,773,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
44164415,99,773,3,6,NaN,NaN,NaN,NaN,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
44164416,99,773,9,6,NaN,NaN,NaN,NaN,1.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
for x in range(14,22):
    df_dataset.loc[df_dataset[x] == 1,"Mas de 60"] = 1
    df_dataset.drop([x],axis = "columns",inplace=True)
df_dataset.drop(["P_EDADR"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,...,15 a 19,20 a 24,25 a 29,30 a 34,35 a 39,40 a 44,45 a 49,50 a 54,55 a 59,Mas de 60
40000000,73,449,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
40000001,73,449,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,...,0,0,0,0,0,0,0,0,0,0
40000002,73,449,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,...,0,0,0,0,0,0,1,0,0,0
40000003,73,449,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,...,0,0,0,0,0,0,1,0,0,0
40000004,73,449,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,...,1,0,0,0,0,0,0,0,0,0
44164413,99,773,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,...,0,0,0,0,1,0,0,0,0,0
44164414,99,773,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
44164415,99,773,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,0,0
44164416,99,773,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,...,0,0,0,0,0,1,0,0,0,0

## Se inicia con el preprocesamiento de la columna PA1_GRP_ETNIC

In [13]:
df_dataset = df_dataset.sort_values('PA1_GRP_ETNIC') #Organiza la lista en orden ascendente
Grup_Etn = df_dataset['PA1_GRP_ETNIC'].unique()
print(Grup_Etn)
for grup_etn in Grup_Etn:
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[grup_etn] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.PA1_GRP_ETNIC == grup_etn).astype(int)
    df_dataset[grup_etn][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[1 2 3 4 5 6 9]

<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-13-26f44f3312d0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[grup_etn][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,...,50 a 54,55 a 59,Mas de 60,1,2,3,4,5,6,9
40000000,73,449,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
40000001,73,449,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,...,0,0,0,0,0,0,0,0,1,0
40000002,73,449,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,...,0,0,0,0,0,0,0,0,1,0
40000003,73,449,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,...,0,0,0,0,0,0,0,0,1,0
40000004,73,449,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164413,99,773,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164414,99,773,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164415,99,773,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164416,99,773,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,...,0,0,0,0,0,0,0,0,1,0

In [14]:
df_dataset.rename(columns = {1: "Indigena", 2: "Gitano o Rrom", 3:'Raizal del Archi SAPSC',
                             4:"Palenquero de San Basilio", 5:"Negro, mulato, afrodescendiente, afrocolombiano", 
                             6:"Ningun grupo etnico",9 :"No informa Etnia"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,PA1_GRP_ETNIC,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,...,50 a 54,55 a 59,Mas de 60,Indigena,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa Etnia
40000000,73,449,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
40000001,73,449,6,NaN,NaN,NaN,NaN,1.0,2.0,6.0,...,0,0,0,0,0,0,0,0,1,0
40000002,73,449,6,NaN,NaN,NaN,NaN,1.0,4.0,7.0,...,0,0,0,0,0,0,0,0,1,0
40000003,73,449,6,NaN,NaN,NaN,NaN,1.0,3.0,1.0,...,0,0,0,0,0,0,0,0,1,0
40000004,73,449,6,NaN,NaN,NaN,NaN,1.0,4.0,6.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,6,NaN,NaN,NaN,NaN,1.0,3.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164413,99,773,6,NaN,NaN,NaN,NaN,1.0,8.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164414,99,773,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164415,99,773,6,NaN,NaN,NaN,NaN,1.0,2.0,NaN,...,0,0,0,0,0,0,0,0,1,0
44164416,99,773,6,NaN,NaN,NaN,NaN,1.0,7.0,NaN,...,0,0,0,0,0,0,0,0,1,0

In [15]:
df_dataset.drop(["PA1_GRP_ETNIC"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,...,50 a 54,55 a 59,Mas de 60,Indigena,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa Etnia
40000000,73,449,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,...,0,0,0,0,0,0,0,0,1,0
40000001,73,449,NaN,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,...,0,0,0,0,0,0,0,0,1,0
40000002,73,449,NaN,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,...,0,0,0,0,0,0,0,0,1,0
40000003,73,449,NaN,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,...,0,0,0,0,0,0,0,0,1,0
40000004,73,449,NaN,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,NaN,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,...,0,0,0,0,0,0,0,0,1,0
44164413,99,773,NaN,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,...,0,0,0,0,0,0,0,0,1,0
44164414,99,773,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,...,0,0,0,0,0,0,0,0,1,0
44164415,99,773,NaN,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,...,0,0,0,0,0,0,0,0,1,0
44164416,99,773,NaN,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,...,0,0,0,0,0,0,0,0,1,0

## Se inicia con el preprocesamiento de la columna PA_HABLA_LENG

In [16]:
#AQUI VOY
#df_dataset = df_dataset.assign(No Aplica)
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['PA_HABLA_LENG'] = df_dataset.PA_HABLA_LENG.replace(np.nan,99)

In [17]:
df_dataset = df_dataset.sort_values('PA_HABLA_LENG') #Organiza la lista en orden ascendente
Leng_Nat = df_dataset['PA_HABLA_LENG'].unique()
print(Leng_Nat)
for leng_nat in Leng_Nat :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[leng_nat] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.PA_HABLA_LENG == leng_nat).astype(int)
    df_dataset[leng_nat][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  9. 99.]

<ipython-input-17-bb0508106e8b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-17-bb0508106e8b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-17-bb0508106e8b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-17-bb0508106e8b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[leng_nat][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,...,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa Etnia,1.0,2.0,9.0,99.0
40000000,73,449,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000001,73,449,99.0,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000002,73,449,99.0,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000003,73,449,99.0,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000004,73,449,99.0,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164413,99,773,99.0,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164414,99,773,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164415,99,773,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164416,99,773,99.0,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1

In [18]:
df_dataset.rename(columns = {1: "Habla lengua Nativa", 2: "No habla lengua nativa",9:'No informa lengua nativa',99:"No aplica lengua nativa"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,PA_HABLA_LENG,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,...,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa Etnia,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa
40000000,73,449,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000001,73,449,99.0,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000002,73,449,99.0,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000003,73,449,99.0,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
40000004,73,449,99.0,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164413,99,773,99.0,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164414,99,773,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164415,99,773,99.0,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1
44164416,99,773,99.0,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,...,0,0,0,0,1,0,0,0,0,1

In [19]:
df_dataset.drop(["PA_HABLA_LENG"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,...,Gitano o Rrom,Raizal del Archi SAPSC,Palenquero de San Basilio,"Negro, mulato, afrodescendiente, afrocolombiano",Ningun grupo etnico,No informa Etnia,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa
40000000,73,449,NaN,NaN,NaN,1.0,2.0,NaN,Tolima,0,...,0,0,0,0,1,0,0,0,0,1
40000001,73,449,NaN,NaN,NaN,1.0,2.0,6.0,Tolima,0,...,0,0,0,0,1,0,0,0,0,1
40000002,73,449,NaN,NaN,NaN,1.0,4.0,7.0,Tolima,0,...,0,0,0,0,1,0,0,0,0,1
40000003,73,449,NaN,NaN,NaN,1.0,3.0,1.0,Tolima,1,...,0,0,0,0,1,0,0,0,0,1
40000004,73,449,NaN,NaN,NaN,1.0,4.0,6.0,Tolima,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,NaN,NaN,NaN,1.0,3.0,NaN,Vichada,0,...,0,0,0,0,1,0,0,0,0,1
44164413,99,773,NaN,NaN,NaN,1.0,8.0,NaN,Vichada,0,...,0,0,0,0,1,0,0,0,0,1
44164414,99,773,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,0,...,0,0,0,0,1,0,0,0,0,1
44164415,99,773,NaN,NaN,NaN,1.0,2.0,NaN,Vichada,1,...,0,0,0,0,1,0,0,0,0,1
44164416,99,773,NaN,NaN,NaN,1.0,7.0,NaN,Vichada,1,...,0,0,0,0,1,0,0,0,0,1

## Se inicia con el preprocesamiento de la columna PB_OTRAS_LENG

In [20]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['PB_OTRAS_LENG'] = df_dataset.PB_OTRAS_LENG.replace(np.nan,99)

In [21]:
df_dataset = df_dataset.sort_values('PB_OTRAS_LENG') #Organiza la lista en orden ascendente
Otra_Leng = df_dataset['PB_OTRAS_LENG'].unique()
print(Otra_Leng)
for otra_leng in Otra_Leng :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[otra_leng] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.PB_OTRAS_LENG == otra_leng).astype(int)
    df_dataset[otra_leng][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  9. 99.]

<ipython-input-21-c3ff004cfd10>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-21-c3ff004cfd10>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-21-c3ff004cfd10>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-21-c3ff004cfd10>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[otra_leng][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,...,Ningun grupo etnico,No informa Etnia,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa,1.0,2.0,9.0,99.0
40000000,73,449,99.0,NaN,NaN,1.0,2.0,NaN,Tolima,0,...,1,0,0,0,0,1,0,0,0,1
40000001,73,449,99.0,NaN,NaN,1.0,2.0,6.0,Tolima,0,...,1,0,0,0,0,1,0,0,0,1
40000002,73,449,99.0,NaN,NaN,1.0,4.0,7.0,Tolima,0,...,1,0,0,0,0,1,0,0,0,1
40000003,73,449,99.0,NaN,NaN,1.0,3.0,1.0,Tolima,1,...,1,0,0,0,0,1,0,0,0,1
40000004,73,449,99.0,NaN,NaN,1.0,4.0,6.0,Tolima,1,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,NaN,NaN,1.0,3.0,NaN,Vichada,0,...,1,0,0,0,0,1,0,0,0,1
44164413,99,773,99.0,NaN,NaN,1.0,8.0,NaN,Vichada,0,...,1,0,0,0,0,1,0,0,0,1
44164414,99,773,99.0,NaN,NaN,1.0,2.0,NaN,Vichada,0,...,1,0,0,0,0,1,0,0,0,1
44164415,99,773,99.0,NaN,NaN,1.0,2.0,NaN,Vichada,1,...,1,0,0,0,0,1,0,0,0,1
44164416,99,773,99.0,NaN,NaN,1.0,7.0,NaN,Vichada,1,...,1,0,0,0,0,1,0,0,0,1

In [22]:
df_dataset.rename(columns = {1: "Habla otra lengua", 2: "No habla otra lengua",9:'No informa otra lengua',99:"No aplica otra lengua"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,PB_OTRAS_LENG,PB1_QOTRAS_LENG,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,...,Ningun grupo etnico,No informa Etnia,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua
40000000,73,449,99.0,NaN,NaN,1.0,2.0,NaN,Tolima,0,...,1,0,0,0,0,1,0,0,0,1
40000001,73,449,99.0,NaN,NaN,1.0,2.0,6.0,Tolima,0,...,1,0,0,0,0,1,0,0,0,1
40000002,73,449,99.0,NaN,NaN,1.0,4.0,7.0,Tolima,0,...,1,0,0,0,0,1,0,0,0,1
40000003,73,449,99.0,NaN,NaN,1.0,3.0,1.0,Tolima,1,...,1,0,0,0,0,1,0,0,0,1
40000004,73,449,99.0,NaN,NaN,1.0,4.0,6.0,Tolima,1,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,NaN,NaN,1.0,3.0,NaN,Vichada,0,...,1,0,0,0,0,1,0,0,0,1
44164413,99,773,99.0,NaN,NaN,1.0,8.0,NaN,Vichada,0,...,1,0,0,0,0,1,0,0,0,1
44164414,99,773,99.0,NaN,NaN,1.0,2.0,NaN,Vichada,0,...,1,0,0,0,0,1,0,0,0,1
44164415,99,773,99.0,NaN,NaN,1.0,2.0,NaN,Vichada,1,...,1,0,0,0,0,1,0,0,0,1
44164416,99,773,99.0,NaN,NaN,1.0,7.0,NaN,Vichada,1,...,1,0,0,0,0,1,0,0,0,1

In [23]:
#Se elimina numero de otras lenguas nativas debido a que en la mayoria de filas es 
df_dataset.drop(["PB_OTRAS_LENG","PB1_QOTRAS_LENG"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,...,Ningun grupo etnico,No informa Etnia,Habla lengua Nativa,No habla lengua nativa,No informa lengua nativa,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua
40000000,73,449,NaN,1.0,2.0,NaN,Tolima,0,1,0,...,1,0,0,0,0,1,0,0,0,1
40000001,73,449,NaN,1.0,2.0,6.0,Tolima,0,1,0,...,1,0,0,0,0,1,0,0,0,1
40000002,73,449,NaN,1.0,4.0,7.0,Tolima,0,1,0,...,1,0,0,0,0,1,0,0,0,1
40000003,73,449,NaN,1.0,3.0,1.0,Tolima,1,0,0,...,1,0,0,0,0,1,0,0,0,1
40000004,73,449,NaN,1.0,4.0,6.0,Tolima,1,0,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,NaN,1.0,3.0,NaN,Vichada,0,1,0,...,1,0,0,0,0,1,0,0,0,1
44164413,99,773,NaN,1.0,8.0,NaN,Vichada,0,1,0,...,1,0,0,0,0,1,0,0,0,1
44164414,99,773,NaN,1.0,2.0,NaN,Vichada,0,1,0,...,1,0,0,0,0,1,0,0,0,1
44164415,99,773,NaN,1.0,2.0,NaN,Vichada,1,0,0,...,1,0,0,0,0,1,0,0,0,1
44164416,99,773,NaN,1.0,7.0,NaN,Vichada,1,0,0,...,1,0,0,0,0,1,0,0,0,1

## Se inicia con el preprocesamiento de la columna PA1_CALIDAD_SERV

In [24]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['PA1_CALIDAD_SERV'] = df_dataset.PA1_CALIDAD_SERV.replace(np.nan,99)

In [25]:
df_dataset = df_dataset.sort_values('PA1_CALIDAD_SERV') #Organiza la lista en orden ascendente
Cal_Serv = df_dataset['PA1_CALIDAD_SERV'].unique()
print(Cal_Serv)
for cal_serv in Cal_Serv :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[cal_serv] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.PA1_CALIDAD_SERV == cal_serv).astype(int)
    df_dataset[cal_serv][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  3.  4. 99.]

<ipython-input-25-332fd23a57e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-25-332fd23a57e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-25-332fd23a57e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-25-332fd23a57e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-25-332fd23a57e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[cal_serv][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,...,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua,1.0,2.0,3.0,4.0,99.0
40000000,73,449,99.0,1.0,2.0,NaN,Tolima,0,1,0,...,1,0,0,0,1,0,0,0,0,1
40000001,73,449,99.0,1.0,2.0,6.0,Tolima,0,1,0,...,1,0,0,0,1,0,0,0,0,1
40000002,73,449,99.0,1.0,4.0,7.0,Tolima,0,1,0,...,1,0,0,0,1,0,0,0,0,1
40000003,73,449,99.0,1.0,3.0,1.0,Tolima,1,0,0,...,1,0,0,0,1,0,0,0,0,1
40000004,73,449,99.0,1.0,4.0,6.0,Tolima,1,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,1.0,3.0,NaN,Vichada,0,1,0,...,1,0,0,0,1,0,0,0,0,1
44164413,99,773,99.0,1.0,8.0,NaN,Vichada,0,1,0,...,1,0,0,0,1,0,0,0,0,1
44164414,99,773,99.0,1.0,2.0,NaN,Vichada,0,1,0,...,1,0,0,0,1,0,0,0,0,1
44164415,99,773,99.0,1.0,2.0,NaN,Vichada,1,0,0,...,1,0,0,0,1,0,0,0,0,1
44164416,99,773,99.0,1.0,7.0,NaN,Vichada,1,0,0,...,1,0,0,0,1,0,0,0,0,1

In [26]:
df_dataset.rename(columns = {1: "Servicio muy bueno", 2: "Servicio bueno",3:'Servicio malo',4:"Servicio muy malo",9:"No informa Calidad de servicio",99:"No Aplica Calidad de servicio"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,PA1_CALIDAD_SERV,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,...,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua,Servicio muy bueno,Servicio bueno,Servicio malo,Servicio muy malo,No Aplica Calidad de servicio
40000000,73,449,99.0,1.0,2.0,NaN,Tolima,0,1,0,...,1,0,0,0,1,0,0,0,0,1
40000001,73,449,99.0,1.0,2.0,6.0,Tolima,0,1,0,...,1,0,0,0,1,0,0,0,0,1
40000002,73,449,99.0,1.0,4.0,7.0,Tolima,0,1,0,...,1,0,0,0,1,0,0,0,0,1
40000003,73,449,99.0,1.0,3.0,1.0,Tolima,1,0,0,...,1,0,0,0,1,0,0,0,0,1
40000004,73,449,99.0,1.0,4.0,6.0,Tolima,1,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,1.0,3.0,NaN,Vichada,0,1,0,...,1,0,0,0,1,0,0,0,0,1
44164413,99,773,99.0,1.0,8.0,NaN,Vichada,0,1,0,...,1,0,0,0,1,0,0,0,0,1
44164414,99,773,99.0,1.0,2.0,NaN,Vichada,0,1,0,...,1,0,0,0,1,0,0,0,0,1
44164415,99,773,99.0,1.0,2.0,NaN,Vichada,1,0,0,...,1,0,0,0,1,0,0,0,0,1
44164416,99,773,99.0,1.0,7.0,NaN,Vichada,1,0,0,...,1,0,0,0,1,0,0,0,0,1

In [27]:
df_dataset.drop(["PA1_CALIDAD_SERV"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,...,No aplica lengua nativa,Habla otra lengua,No habla otra lengua,No informa otra lengua,No aplica otra lengua,Servicio muy bueno,Servicio bueno,Servicio malo,Servicio muy malo,No Aplica Calidad de servicio
40000000,73,449,1.0,2.0,NaN,Tolima,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
40000001,73,449,1.0,2.0,6.0,Tolima,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
40000002,73,449,1.0,4.0,7.0,Tolima,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
40000003,73,449,1.0,3.0,1.0,Tolima,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
40000004,73,449,1.0,4.0,6.0,Tolima,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,1.0,3.0,NaN,Vichada,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
44164413,99,773,1.0,8.0,NaN,Vichada,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
44164414,99,773,1.0,2.0,NaN,Vichada,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
44164415,99,773,1.0,2.0,NaN,Vichada,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
44164416,99,773,1.0,7.0,NaN,Vichada,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1

## Se inicia con el preprocesamiento de la columna P_ALFABETA

In [28]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['P_ALFABETA'] = df_dataset.P_ALFABETA.replace(np.nan,9)

In [29]:
df_dataset = df_dataset.sort_values('P_ALFABETA') #Organiza la lista en orden ascendente
P_Alf = df_dataset['P_ALFABETA'].unique()
print(P_Alf)
for p_alf in P_Alf :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[p_alf] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.P_ALFABETA == p_alf).astype(int)
    df_dataset[p_alf][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[1. 2. 9.]

<ipython-input-29-97afe3a5a716>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_alf][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-29-97afe3a5a716>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_alf][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-29-97afe3a5a716>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_alf][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,...,No informa otra lengua,No aplica otra lengua,Servicio muy bueno,Servicio bueno,Servicio malo,Servicio muy malo,No Aplica Calidad de servicio,1.0,2.0,9.0
40000000,73,449,1.0,2.0,NaN,Tolima,0,1,0,1,...,0,1,0,0,0,0,1,1,0,0
40000001,73,449,1.0,2.0,6.0,Tolima,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
40000002,73,449,1.0,4.0,7.0,Tolima,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
40000003,73,449,1.0,3.0,1.0,Tolima,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
40000004,73,449,1.0,4.0,6.0,Tolima,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,1.0,3.0,NaN,Vichada,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
44164413,99,773,1.0,8.0,NaN,Vichada,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
44164414,99,773,1.0,2.0,NaN,Vichada,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
44164415,99,773,1.0,2.0,NaN,Vichada,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
44164416,99,773,1.0,7.0,NaN,Vichada,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0

In [30]:
df_dataset.rename(columns = {1: "Alfabeta", 2: "Analfabeta",9:"No informa Alfabeta"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_ALFABETA,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,...,No informa otra lengua,No aplica otra lengua,Servicio muy bueno,Servicio bueno,Servicio malo,Servicio muy malo,No Aplica Calidad de servicio,Alfabeta,Analfabeta,No informa Alfabeta
40000000,73,449,1.0,2.0,NaN,Tolima,0,1,0,1,...,0,1,0,0,0,0,1,1,0,0
40000001,73,449,1.0,2.0,6.0,Tolima,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
40000002,73,449,1.0,4.0,7.0,Tolima,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
40000003,73,449,1.0,3.0,1.0,Tolima,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
40000004,73,449,1.0,4.0,6.0,Tolima,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,1.0,3.0,NaN,Vichada,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
44164413,99,773,1.0,8.0,NaN,Vichada,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
44164414,99,773,1.0,2.0,NaN,Vichada,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0
44164415,99,773,1.0,2.0,NaN,Vichada,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
44164416,99,773,1.0,7.0,NaN,Vichada,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0

In [31]:
df_dataset.drop(["P_ALFABETA"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,...,No informa otra lengua,No aplica otra lengua,Servicio muy bueno,Servicio bueno,Servicio malo,Servicio muy malo,No Aplica Calidad de servicio,Alfabeta,Analfabeta,No informa Alfabeta
40000000,73,449,2.0,NaN,Tolima,0,1,0,1,0,...,0,1,0,0,0,0,1,1,0,0
40000001,73,449,2.0,6.0,Tolima,0,1,0,0,1,...,0,1,0,0,0,0,1,1,0,0
40000002,73,449,4.0,7.0,Tolima,0,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
40000003,73,449,3.0,1.0,Tolima,1,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
40000004,73,449,4.0,6.0,Tolima,1,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,3.0,NaN,Vichada,0,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
44164413,99,773,8.0,NaN,Vichada,0,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
44164414,99,773,2.0,NaN,Vichada,0,1,0,0,1,...,0,1,0,0,0,0,1,1,0,0
44164415,99,773,2.0,NaN,Vichada,1,0,0,0,1,...,0,1,0,0,0,0,1,1,0,0
44164416,99,773,7.0,NaN,Vichada,1,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0

## Se inicia con el preprocesamiento de la columna P_NIVEL_ANOSR

In [32]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['P_NIVEL_ANOSR'] = df_dataset.P_NIVEL_ANOSR.replace(np.nan,99)

In [33]:
df_dataset = df_dataset.sort_values('P_NIVEL_ANOSR') #Organiza la lista en orden ascendente
P_Niv_AR = df_dataset['P_NIVEL_ANOSR'].unique()
print(P_Niv_AR)
for p_niv_ar in P_Niv_AR :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[p_niv_ar] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.P_NIVEL_ANOSR == p_niv_ar).astype(int)
    df_dataset[p_niv_ar][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 99.]

<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-33-c027d5a07299>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_niv_ar][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,...,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,99.0
40000000,73,449,2.0,NaN,Tolima,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
40000001,73,449,2.0,6.0,Tolima,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
40000002,73,449,4.0,7.0,Tolima,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
40000003,73,449,3.0,1.0,Tolima,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
40000004,73,449,4.0,6.0,Tolima,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,3.0,NaN,Vichada,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
44164413,99,773,8.0,NaN,Vichada,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
44164414,99,773,2.0,NaN,Vichada,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
44164415,99,773,2.0,NaN,Vichada,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
44164416,99,773,7.0,NaN,Vichada,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [34]:
df_dataset.rename(columns = {1: "Preescolar", 2: "Basica primaria",3:"Basica Secundaria",
                             4:"Media academica",5:"Media tecnica",6:"Normalista",
                             7:"Tecnico Pro o Tecnologo",8:"Universitario",9:"Esp Mag o Doc",
                             10:"Ningun Nivel Educativo",99:"No informa Nivel Educativo"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_NIVEL_ANOSR,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,...,Basica primaria,Basica Secundaria,Media academica,Media tecnica,Normalista,Tecnico Pro o Tecnologo,Universitario,Esp Mag o Doc,Ningun Nivel Educativo,No informa Nivel Educativo
40000000,73,449,2.0,NaN,Tolima,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
40000001,73,449,2.0,6.0,Tolima,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
40000002,73,449,4.0,7.0,Tolima,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
40000003,73,449,3.0,1.0,Tolima,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
40000004,73,449,4.0,6.0,Tolima,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,3.0,NaN,Vichada,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
44164413,99,773,8.0,NaN,Vichada,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
44164414,99,773,2.0,NaN,Vichada,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
44164415,99,773,2.0,NaN,Vichada,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
44164416,99,773,7.0,NaN,Vichada,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [35]:
df_dataset.drop(["P_NIVEL_ANOSR"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,15 a 19,...,Basica primaria,Basica Secundaria,Media academica,Media tecnica,Normalista,Tecnico Pro o Tecnologo,Universitario,Esp Mag o Doc,Ningun Nivel Educativo,No informa Nivel Educativo
40000000,73,449,NaN,Tolima,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
40000001,73,449,6.0,Tolima,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
40000002,73,449,7.0,Tolima,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
40000003,73,449,1.0,Tolima,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
40000004,73,449,6.0,Tolima,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,NaN,Vichada,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
44164413,99,773,NaN,Vichada,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
44164414,99,773,NaN,Vichada,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
44164415,99,773,NaN,Vichada,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
44164416,99,773,NaN,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

## Se inicia con el preprocesamiento de la columna P_TRABAJO

In [36]:
#Reemplazar datos nulos por 99 (No Aplica)
df_dataset['P_TRABAJO'] = df_dataset.P_TRABAJO.replace(np.nan,99)

In [37]:
df_dataset = df_dataset.sort_values('P_TRABAJO') #Organiza la lista en orden ascendente
P_Trab = df_dataset['P_TRABAJO'].unique()
print(P_Trab)
for p_trab in P_Trab :
    empty_array = np.empty([len(df_dataset),1])
    empty_array[:] = np.nan
    df_dataset[p_trab] = empty_array
#for vivienda,num_viv in TIP_VIV.items():
    s_aux = (df_dataset.P_TRABAJO == p_trab).astype(int)
    df_dataset[p_trab][s_aux.index] = s_aux.values
    
#df_dataset.rename({1.0:'1-DOR',2.0:'2-DOR',3.0:'3-DOR',7.0:'7-DOR',
#                                     4.0:'4-DOR',5.0:'5-DOR',15.0:'15-DOR',99.0:'99-DOR',
 #                                    6.0:'6-DOR',11.0:'11-DOR',8.0:'8-DOR',9.0:'9-DOR',
  #                                   20.0:'20-DOR',14.0:'14-DOR',10.0:'10-DOR',13.0:'13-DOR',
    #                                 16.0:'16-DOR',12.0:'12-DOR',17.0:'17-DOR',18.0:'18-DOR',
   #                                  19.0:'19-DOR'},axis=1)
#df_dataset = df_dataset[["U_DPTO","Nom_DPTO","U_MPIO","H_NRO_DORMIT","1-DOR","2-DOR"]]
df_dataset = df_dataset.sort_index(ascending=True)
df_dataset

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 99.]

<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-37-745bf5ad8701>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset[p_trab][s_aux.index] = s_aux.values
C:\Users\sebas\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,15 a 19,...,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,99.0
40000000,73,449,99.0,Tolima,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
40000001,73,449,6.0,Tolima,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
40000002,73,449,7.0,Tolima,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
40000003,73,449,1.0,Tolima,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40000004,73,449,6.0,Tolima,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,Vichada,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
44164413,99,773,99.0,Vichada,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44164414,99,773,99.0,Vichada,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
44164415,99,773,99.0,Vichada,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
44164416,99,773,99.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
df_dataset.rename(columns = {1: "Trab al menos 1 hora remunerada", 2: "Trab al menos 1 hora no remunerada",
                             3:"No trabajo pero recibe ingreso",4:"Busco trabajo",5:"Jubilacion pension o renta",
                             6:"Estudio",7:"Realizo oficios del hogar",8:"Incapacitado para trabajar",
                             9:"Otra situacion",0:"No informa trabajo",99:"No Aplica Trabajo"}, inplace = True)
df_dataset

,U_DPTO,U_MPIO,P_TRABAJO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,15 a 19,...,Trab al menos 1 hora remunerada,Trab al menos 1 hora no remunerada,No trabajo pero recibe ingreso,Busco trabajo,Jubilacion pension o renta,Estudio,Realizo oficios del hogar,Incapacitado para trabajar,Otra situacion,No Aplica Trabajo
40000000,73,449,99.0,Tolima,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
40000001,73,449,6.0,Tolima,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
40000002,73,449,7.0,Tolima,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
40000003,73,449,1.0,Tolima,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40000004,73,449,6.0,Tolima,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,99.0,Vichada,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
44164413,99,773,99.0,Vichada,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44164414,99,773,99.0,Vichada,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
44164415,99,773,99.0,Vichada,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
44164416,99,773,99.0,Vichada,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [39]:
df_dataset.drop(["P_TRABAJO"],axis = "columns",inplace=True)
df_dataset

,U_DPTO,U_MPIO,Nom_DPTO,Hombre,Mujer,0 a 4,5 a 9,10 a 14,15 a 19,20 a 24,...,Trab al menos 1 hora remunerada,Trab al menos 1 hora no remunerada,No trabajo pero recibe ingreso,Busco trabajo,Jubilacion pension o renta,Estudio,Realizo oficios del hogar,Incapacitado para trabajar,Otra situacion,No Aplica Trabajo
40000000,73,449,Tolima,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
40000001,73,449,Tolima,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
40000002,73,449,Tolima,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
40000003,73,449,Tolima,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40000004,73,449,Tolima,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44164412,99,773,Vichada,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
44164413,99,773,Vichada,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44164414,99,773,Vichada,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
44164415,99,773,Vichada,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
44164416,99,773,Vichada,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [40]:
export_dir = 'TG2022_Datos/Departamentos_CSV/Resultado_personas_40M.csv'
df_dataset.to_csv(export_dir, index=False, header=True)