## Se unen los dataframes

In [2]:
#Se importan librerías
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

# Configuración warnings
# ==============================================================================
import warnings
warnings.simplefilter(action='ignore')

In [3]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_viv_2.csv' #Se carga el dataset de vivienda
df_dataset_viv = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas

df_dataset_viv #Se imprime el dataset

,U_DPTO,U_MPIO,Nom_DPTO,CASA,APTO,TIP_CUARTO,VIV_TRAD_INDIG,VIV_TRAD_ETNICA,OTRA_VIV
0,91,1,Amazonas,9334,1321,815,86,5,64
1,91,263,Amazonas,406,1,10,7,0,2
2,91,405,Amazonas,647,0,2,34,2,6
3,91,407,Amazonas,688,2,2,129,2,7
4,91,430,Amazonas,31,1,0,9,2,0
...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,88,0,1,4,0,6
1118,99,1,Vichada,4767,997,456,533,21,132
1119,99,524,Vichada,3096,71,129,13,1,31
1120,99,624,Vichada,1103,4,15,4,0,16
1121,99,773,Vichada,5909,91,119,3273,66,52

In [4]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_hog_2.csv' #Se carga el dataset de hogares
df_dataset_hog = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas

df_dataset_hog

,U_DPTO,U_MPIO,Nom_DPTO,1-DOR,2-DOR,3-DOR,4-DOR,Mas de 4 dor,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall,1-PER,2-PER,3-PER,4-PER,Mas de 4 per
0,91,1,Amazonas,4320,3820,2036,724,289,119,11150,150,7,1,2139,1719,2082,1994,3374
1,91,263,Amazonas,173,121,58,30,27,5,411,3,0,0,109,54,42,47,162
2,91,405,Amazonas,163,125,70,43,19,30,444,6,0,0,100,60,46,69,175
3,91,407,Amazonas,452,173,78,24,10,12,739,10,0,0,50,85,123,120,371
4,91,430,Amazonas,23,9,4,2,1,1,40,0,0,0,7,8,4,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,48,32,10,1,1,7,97,1,0,1,22,14,7,7,49
1118,99,1,Vichada,2873,2026,718,142,52,45,5761,81,13,1,1273,1077,1201,1024,1281
1119,99,524,Vichada,1307,953,379,86,24,5,2699,49,3,3,615,510,562,472,595
1120,99,624,Vichada,440,447,142,41,13,3,1073,11,2,0,190,210,219,224,243
1121,99,773,Vichada,6244,1962,721,322,64,254,9418,136,10,3,1189,1543,1624,1487,3724

In [5]:
#Se unen los datasets de vivienda y hogares
df_dt_viv_hog = df_dataset_viv.merge(df_dataset_hog, on=["U_MPIO","U_DPTO","Nom_DPTO"], how="left")
df_dt_viv_hog

,U_DPTO,U_MPIO,Nom_DPTO,CASA,APTO,TIP_CUARTO,VIV_TRAD_INDIG,VIV_TRAD_ETNICA,OTRA_VIV,1-DOR,...,No informa Num_dormit,0-FALL,1-FALL,2-FALL,Mas de 2 fall,1-PER,2-PER,3-PER,4-PER,Mas de 4 per
0,91,1,Amazonas,9334,1321,815,86,5,64,4320,...,119,11150,150,7,1,2139,1719,2082,1994,3374
1,91,263,Amazonas,406,1,10,7,0,2,173,...,5,411,3,0,0,109,54,42,47,162
2,91,405,Amazonas,647,0,2,34,2,6,163,...,30,444,6,0,0,100,60,46,69,175
3,91,407,Amazonas,688,2,2,129,2,7,452,...,12,739,10,0,0,50,85,123,120,371
4,91,430,Amazonas,31,1,0,9,2,0,23,...,1,40,0,0,0,7,8,4,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,88,0,1,4,0,6,48,...,7,97,1,0,1,22,14,7,7,49
1118,99,1,Vichada,4767,997,456,533,21,132,2873,...,45,5761,81,13,1,1273,1077,1201,1024,1281
1119,99,524,Vichada,3096,71,129,13,1,31,1307,...,5,2699,49,3,3,615,510,562,472,595
1120,99,624,Vichada,1103,4,15,4,0,16,440,...,3,1073,11,2,0,190,210,219,224,243
1121,99,773,Vichada,5909,91,119,3273,66,52,6244,...,254,9418,136,10,3,1189,1543,1624,1487,3724

In [6]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_fall_2.csv' #Se carga el dataset de fallecidos
df_dataset_fall = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas

df_dataset_fall

,U_DPTO,U_MPIO,Nom_DPTO,Fall_Hombre,Fall_Mujer,No informa sexo fall,No informa edad fall,Fall_P_Infancia,Fall_Infancia,Fall_Juv-Adoles,Fall_Adultez,Fall_Per_Mayor
0,91,1,Amazonas,99,68,0,0,25,2,14,38,88
1,91,263,Amazonas,0,3,0,0,2,0,1,0,0
2,91,405,Amazonas,5,1,0,0,3,0,2,1,0
3,91,407,Amazonas,6,4,0,0,5,1,1,0,3
4,91,460,Amazonas,4,3,0,0,1,0,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1114,97,889,Vaupes,4,1,0,0,0,0,2,0,3
1115,99,1,Vichada,66,44,1,1,16,3,14,26,51
1116,99,524,Vichada,47,19,0,0,14,1,4,26,21
1117,99,624,Vichada,9,6,0,0,1,0,0,9,5
1118,99,773,Vichada,97,79,0,0,88,2,18,39,29

In [7]:
df_dataset_fall = df_dataset_fall.fillna(0) #Se reemplazan los datos nulos por cero
df_dataset_fall

,U_DPTO,U_MPIO,Nom_DPTO,Fall_Hombre,Fall_Mujer,No informa sexo fall,No informa edad fall,Fall_P_Infancia,Fall_Infancia,Fall_Juv-Adoles,Fall_Adultez,Fall_Per_Mayor
0,91,1,Amazonas,99,68,0,0,25,2,14,38,88
1,91,263,Amazonas,0,3,0,0,2,0,1,0,0
2,91,405,Amazonas,5,1,0,0,3,0,2,1,0
3,91,407,Amazonas,6,4,0,0,5,1,1,0,3
4,91,460,Amazonas,4,3,0,0,1,0,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1114,97,889,Vaupes,4,1,0,0,0,0,2,0,3
1115,99,1,Vichada,66,44,1,1,16,3,14,26,51
1116,99,524,Vichada,47,19,0,0,14,1,4,26,21
1117,99,624,Vichada,9,6,0,0,1,0,0,9,5
1118,99,773,Vichada,97,79,0,0,88,2,18,39,29

In [8]:
#Se une el dataset anterior (Vivienda y hogares) y fallecidos
#Se reemplazan los datos nulos por ceros
df_dt_viv_hog_fall = df_dt_viv_hog.merge(df_dataset_fall, on=["U_MPIO","U_DPTO","Nom_DPTO"], how="left").fillna(0)
df_dt_viv_hog_fall

,U_DPTO,U_MPIO,Nom_DPTO,CASA,APTO,TIP_CUARTO,VIV_TRAD_INDIG,VIV_TRAD_ETNICA,OTRA_VIV,1-DOR,...,Mas de 4 per,Fall_Hombre,Fall_Mujer,No informa sexo fall,No informa edad fall,Fall_P_Infancia,Fall_Infancia,Fall_Juv-Adoles,Fall_Adultez,Fall_Per_Mayor
0,91,1,Amazonas,9334,1321,815,86,5,64,4320,...,3374,99.0,68.0,0.0,0.0,25.0,2.0,14.0,38.0,88.0
1,91,263,Amazonas,406,1,10,7,0,2,173,...,162,0.0,3.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0
2,91,405,Amazonas,647,0,2,34,2,6,163,...,175,5.0,1.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
3,91,407,Amazonas,688,2,2,129,2,7,452,...,371,6.0,4.0,0.0,0.0,5.0,1.0,1.0,0.0,3.0
4,91,430,Amazonas,31,1,0,9,2,0,23,...,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,88,0,1,4,0,6,48,...,49,4.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0
1118,99,1,Vichada,4767,997,456,533,21,132,2873,...,1281,66.0,44.0,1.0,1.0,16.0,3.0,14.0,26.0,51.0
1119,99,524,Vichada,3096,71,129,13,1,31,1307,...,595,47.0,19.0,0.0,0.0,14.0,1.0,4.0,26.0,21.0
1120,99,624,Vichada,1103,4,15,4,0,16,440,...,243,9.0,6.0,0.0,0.0,1.0,0.0,0.0,9.0,5.0
1121,99,773,Vichada,5909,91,119,3273,66,52,6244,...,3724,97.0,79.0,0.0,0.0,88.0,2.0,18.0,39.0,29.0

In [9]:
dataset_dir = 'TG2022_Datos\Departamentos_CSV\Pre_Departamentos_per_unido.csv' #Se carga el dataset de personas
df_dataset_per = pd.read_csv(dataset_dir, sep=(',')) #Se lee el archivo csv el cual está separado por comas

df_dataset_per

,U_DPTO,U_MPIO,Nom_DPTO,Per_Hombre,Per_Mujer,Per_edad_0 a 4,Per_edad_5 a 9,Per_edad_10 a 14,Per_edad_15 a 19,Per_edad_20 a 24,...,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR,No informa ingresos,Recibe ingresos,No recibe ingresos,No Aplica ingresos
0,5,234,Antioquia,11546,11171,2298,2456,2679,2318,1897,...,769,421,117,3542,310,2298,297,7586,10061,4773
1,5,585,Antioquia,6147,6014,731,940,1149,1055,752,...,745,310,52,883,80,731,127,4368,5961,1705
2,5,579,Antioquia,18430,18371,2362,2763,3265,3314,3146,...,2835,997,382,2402,798,2362,444,14919,15310,6128
3,5,576,Antioquia,3609,3593,422,484,626,675,516,...,199,108,51,578,57,422,72,2600,3624,906
4,5,543,Antioquia,3789,3366,577,630,735,770,606,...,220,125,24,951,60,577,88,2780,3066,1221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,777,Vaupes,239,193,53,63,61,39,48,...,0,1,0,35,30,53,19,19,278,116
1118,99,524,Vichada,5171,4519,1005,1103,1152,1125,801,...,393,272,83,699,265,1005,102,2341,4446,2801
1119,99,624,Vichada,2118,1908,376,485,535,427,346,...,126,145,34,267,44,376,45,981,1847,1153
1120,99,1,Vichada,10422,9366,2099,2052,2008,2037,2018,...,1322,1032,380,1927,767,2099,298,5712,8894,4884
1121,99,773,Vichada,22983,20155,6078,6243,6193,5622,3970,...,464,301,76,3981,2581,6078,1805,3302,23009,15022

In [10]:
#Se une el dataset anterior (Vivienda, hogares y fallecidos) y personas
df_dt_viv_hog_fall_per = df_dt_viv_hog_fall.merge(df_dataset_per, on=["U_MPIO","U_DPTO","Nom_DPTO"], how="left")
df_dt_viv_hog_fall_per

,U_DPTO,U_MPIO,Nom_DPTO,CASA,APTO,TIP_CUARTO,VIV_TRAD_INDIG,VIV_TRAD_ETNICA,OTRA_VIV,1-DOR,...,Tecnica_Profesional,Universitario,Posgrado,Ninguno,No_inf_escolaridad,No Aplica P_NIVEL_ANOSR,No informa ingresos,Recibe ingresos,No recibe ingresos,No Aplica ingresos
0,91,1,Amazonas,9334,1321,815,86,5,64,4320,...,2605,1784,659,1162,1511,4393,893,14677,16871,10403
1,91,263,Amazonas,406,1,10,7,0,2,173,...,36,25,0,38,193,198,138,333,748,666
2,91,405,Amazonas,647,0,2,34,2,6,163,...,31,28,10,35,96,252,77,126,1054,1100
3,91,407,Amazonas,688,2,2,129,2,7,452,...,15,26,5,180,245,438,178,322,2116,1165
4,91,430,Amazonas,31,1,0,9,2,0,23,...,2,0,0,24,16,18,5,3,117,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,97,889,Vaupes,88,0,1,4,0,6,48,...,5,3,0,17,43,38,33,27,262,434
1118,99,1,Vichada,4767,997,456,533,21,132,2873,...,1322,1032,380,1927,767,2099,298,5712,8894,4884
1119,99,524,Vichada,3096,71,129,13,1,31,1307,...,393,272,83,699,265,1005,102,2341,4446,2801
1120,99,624,Vichada,1103,4,15,4,0,16,440,...,126,145,34,267,44,376,45,981,1847,1153
1121,99,773,Vichada,5909,91,119,3273,66,52,6244,...,464,301,76,3981,2581,6078,1805,3302,23009,15022

In [11]:
#Se exporta el dataset obtenido
export_dir = 'TG2022_Datos/Departamentos_CSV/Dataset_FINAL_viv_hog_fall_per.csv' #Se establece la dirección de almacenamiento del dataset
df_dt_viv_hog_fall_per.to_csv(export_dir, index=False, header=True) #Se almacena el dataset

In [12]:
df_dt_viv_hog_fall_per.isnull().sum() #Se imprime los datos nulos del dataset por columnas

U_DPTO                     0
U_MPIO                     0
Nom_DPTO                   0
CASA                       0
APTO                       0
                          ..
No Aplica P_NIVEL_ANOSR    0
No informa ingresos        0
Recibe ingresos            0
No recibe ingresos         0
No Aplica ingresos         0
Length: 88, dtype: int64